.loginPage {
    background-color: azure;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgb(164, 238, 226);
    color: black;
}

.buttonLog {
    background-color: rgb(74, 131, 112);
}